body {
    background: linear-gradient(135deg, #7fb0ff, #d6b4ff); /* same as calculator */
    font-family: Arial, sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}


.container {
    background: rgba(255,255,255,0.3);
    padding: 25px;
    border-radius: 18px;
    backdrop-filter: blur(10px);
    width: 260px;
    text-align: center;
}

h2 {
    color: #fff;
    margin-bottom: 15px;
}

.time {
    font-size: 32px;
    margin-bottom: 20px;
    color: #fff;
    letter-spacing: 2px;
}


.controls button {
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    margin: 5px;
    cursor: pointer;
    transition: 0.2s;
}

#startBtn { background: #4ade80; color: #fff; }
#stopBtn { background: #60a5fa; color: #fff; }
#resetBtn { background: #ef4444; color: #fff; }

.controls button:hover {
    opacity: 0.8;
}
