body {
    background: linear-gradient(135deg, #7fb0ff, #d6b4ff);
    font-family: Arial, sans-serif;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background: rgba(255,255,255,0.3);
    padding: 20px;
    width: 280px;
    border-radius: 16px;
    backdrop-filter: blur(10px);
    text-align: center;
}

h2 {
    margin-top: 0;
    color: white;
}

.box {
    background: rgba(255,255,255,0.8);
    padding: 15px;
    border-radius: 12px;
}

.temp {
    font-size: 32px;
    font-weight: bold;
    margin: 10px 0;
}

.details p {
    margin: 5px 0;
}
